<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" media="all" th:href="@{/css/login.css}"/>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="/js/login.js" th:src="@{/js/login.js}"></script>
	<title>ログイン</title>
	</head>
	<body>
<div class="wrapper">
	<div class="container">
		<h1>Welcome</h1>
		<form action="#" th:action="@{/Certification}" th:object="${AuthForm}" method="post">
			<input type="text" th:field="*{Username}" placeholder="Username">
			<input type="password" th:field="*{Password}" placeholder="Password">
			<button type="submit" id="login-button">Login</button>
		</form>
	</div>

	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
	</body>
</html>